# Ignorar arquivos genéricos
*.pdf
*.svg
*.jpg

# Ignorar o conteúdo da pasta de Machine Learning
4_simpsons_deep_learning/*

!4_simpsons_deep_learning/4_simpsons_deep_learning.py

# Outros itens
__pycache__/